// fonts

$font-din-pro: 'Din Pro';
$font-infra: 'Infra';

// color

$color-body: #d9d7d4;
$color-brown: #734e3f;
$color-gray: #ffffff80;
$color-black: #030303;

// transition

$tr-bg-color: background-color 0.4s ease;
$tr-color: color 0.4s ease;